[Unit]
Description=Radicle Node
After=network.target

[Service]
Type=simple
EnvironmentFile=%h/.config/radicle-node.env
ExecStart=/usr/bin/radicle-node
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
